:root {
  /***************layout****************/
  /*header高度*/
  --pro-header-hei: 60px;
  /*header与内容间隔*/
  --pro-divide-ver-hei: 2px;
  /*面包屑高度*/
  --pro-bread-hei: 0px;
  /*菜单宽度变量：合并/展开会重新赋值；媒体查询重新赋值*/
  --pro-left-menu-wid: 220px;
  /*左侧菜单start,end插槽高度*/
  --pro-menu-start-hei: 0px;
  --pro-menu-end-hei: 0px;
  /*page*/
  --pro-page-header-hei: 40px;
  --pro-page-footer-hei: 46px;

  /*color*/
  --pro-color-primary: #1890ff;
  --pro-color-bg: #f8f8f8;
}

/********************************** pro-layout ***********************************/

.pro-layout {
  /*section高度*/
  --pro-secion-hei: calc(100vh - var(--pro-header-hei) - var(--pro-divide-ver-hei));
  /*左侧菜单高度*/
  --pro-left-menu-hei: calc(var(--pro-secion-hei) - var(--pro-menu-start-hei) - var(--pro-menu-end-hei));
}

.pro-layout .pro-layout-header {
  height: var(--pro-header-hei);
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.pro-layout .pro-layout-header .pro-header-menus-wrapper {
  flex-grow: 1;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.pro-layout .pro-layout-header .pro-header-menus-wrapper .pro-layout-menus {
  position: absolute;
  left: 0;
  /* ant-design-vue */
  border-bottom: unset;
}

/*左侧菜单*/

.pro-layout .pro-layout-menus-scroll {
  height: var(--pro-left-menu-hei);
  overflow-y: auto;
}

.pro-layout .pro-layout-menus-wrapper .pro-layout-menus {
  width: var(--pro-left-menu-wid);
  min-width: var(--pro-left-menu-wid);
  max-width: var(--pro-left-menu-wid);
}

.pro-layout .pro-layout-menus-wrapper .mini {
  --pro-left-menu-wid: 64px;
}

/*section*/
.pro-layout .pro-layout-section {
  height: var(--pro-secion-hei);
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}

/*vertical*/
.pro-layout-vertical {
}

.pro-layout-vertical .pro-layout-section {
  margin-top: var(--pro-divide-ver-hei);
}

/*horizontal*/

.pro-layout-horizontal {
  display: flex;
}

.pro-layout-horizontal .pro-layout-menus-scroll {
  --pro-left-menu-hei: calc(100vh - var(--pro-menu-start-hei) - var(--pro-menu-end-hei));
}

.pro-layout-horizontal .pro-layout-structure {
  flex: 1;
}

.pro-layout-horizontal .pro-layout-section {
  margin-top: var(--pro-divide-ver-hei);
}

/*horizontal-v*/
.pro-layout-horizontal-v {
  display: unset !important;
}

.pro-layout-horizontal-v .pro-layout-structure {
  display: flex;
  margin-top: var(--pro-divide-ver-hei);
}

.pro-layout-horizontal-v .pro-layout-structure .pro-layout-section {
  flex-grow: 1;
}

/*compose*/

.pro-layout-compose {
}

.pro-layout-compose .pro-layout-structure {
  display: flex;
  margin-top: var(--pro-divide-ver-hei);
}

.pro-layout-compose .pro-layout-structure .pro-layout-section {
  flex-grow: 1;
}

/********************************** pro-typography ***********************************/
.pro-typography-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/********************************** pro-form ***********************************/
.pro-form {
}

.pro-form .pro-form-operate {
}

.pro-form .pro-form-operate button:not(:first-child) {
  margin-left: 12px;
}

/********************************** pro-search-form ***********************************/
.pro-search-form {
}

.pro-search-form .pro-search-form-operate {
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 18px;
}

.pro-search-form .pro-search-form-operate button:not(:first-child) {
  margin-left: 12px;
}

/********************************** pro-form-list ***********************************/

.pro-form-list {
}

/* element-plus */
.pro-form-list .el-form-item__content {
  display: unset !important;
}

.pro-form-list .el-form-item {
  margin-bottom: 18px !important;
}

.pro-form-list-inline .pro-form-list-item {
  display: flex;
  flex-wrap: wrap;
}

/********************************** pro-table ***********************************/
.pro-table {
}

.pro-table .pro-table-toolbar {
  display: flex;
  align-items: center;
}

.pro-table .pro-table-toolbar-valid {
  margin-bottom: 10px;
}

.pro-table .pro-table-toolbar .pro-table-toolbar-start {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* element-plus */
.pro-table .pro-table-toolbar .pro-table-toolbar-start .el-form-item {
  margin-bottom: 0px;
}

.pro-table-toolbar-column .pro-table-toolbar-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/********************************** pro-page ***********************************/

.pro-page {
  height: var(--pro-secion-hei);
  max-height: var(--pro-secion-hei);
  overflow-y: auto;
  box-sizing: border-box;
}

.pro-page-sub {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*overflow-y: auto;*/
}

.pro-page-header {
  height: var(--pro-page-header-hei);
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.pro-page-header .pro-page-header-back {
  font-size: 16px;
  color: black;
  cursor: pointer;
  padding-right: 8px;
}

.pro-page-header .pro-page-header-back:hover {
  color: var(--pro-color-primary);
}

.pro-page-header .pro-page-header-title {
  font-size: 16px;
  color: black;
  margin-right: 12px;
}

.pro-page-header .pro-page-header-sub-title {
  color: #00000073;
}

.pro-page-header .pro-page-header-space {
  flex-grow: 1;
}

.pro-page .pro-loading-dom {
  height: 20vh;
}

.pro-page .pro-page-content {
}

.pro-page .pro-page-footer {
  height: var(--pro-page-footer-hei);
}

/* 填充模式 */

.pro-page-fill {
  /*position: relative;*/
}

.pro-page-fill .pro-page-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

.pro-page-fill .pro-page-content {
}

.pro-page-fill .pro-page-footer {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}
