/********************************** pro-layout ***********************************/

.pro-layout {
}

.pro-layout .pro-layout-header {
  height: var(--header-hei);
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.pro-layout .pro-layout-header .pro-layout-menus {
  flex: 1;
}

/*vertical*/
.pro-layout-vertical {
}

/*horizontal*/

.pro-layout-horizontal {
  display: flex;
}

.pro-layout-horizontal .pro-layout-menus {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}

.pro-layout-horizontal .pro-layout-structure {
  flex-grow: 1;
}

/*compose*/

.pro-layout-compose {
}

.pro-layout-compose .pro-layout-structure {
  display: flex;
}

.pro-layout-compose .pro-layout-structure .pro-layout-menus {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
}

.pro-layout-compose .pro-layout-structure .pro-layout-section {
  flex-grow: 1;
}

/********************************** pro-typography ***********************************/
.pro-typography-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/********************************** pro-form ***********************************/
.pro-form {
}

.pro-form .pro-form-operate {
}

.pro-form .pro-form-operate button:not(:first-child) {
  margin-left: 12px;
}

/********************************** pro-search-form ***********************************/
.pro-search-form {
}

.pro-search-form .pro-search-form-operate {
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 18px;
}

.pro-search-form .pro-search-form-operate button:not(:first-child) {
  margin-left: 12px;
}
