.pro-cheng {
  --cheng-header-hei: 48px;
  --cheng-footer-hei: 48px;
  --cheng-elements-wid: 0px;
  --cheng-tree-wid: 0px;
  --cheng-set-wid: 0px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 9;
}

.pro-cheng.has-elements {
  --cheng-elements-wid: 300px;
}

.pro-cheng.has-tree {
  --cheng-tree-wid: 200px;
}

.pro-cheng.has-set {
  --cheng-set-wid: 300px;
}

.pro-cheng .pro-cheng-header {
  height: var(--cheng-header-hei);
}

.pro-cheng .pro-cheng-layout {
  height: calc(100vh - var(--cheng-header-hei) - var(--cheng-footer-hei));
  display: flex;
}

.pro-cheng .pro-cheng-elements {
  width: var(--cheng-elements-wid);
}

.pro-cheng .pro-cheng-tree {
  width: var(--cheng-tree-wid);
}

.pro-cheng .pro-cheng-ope {
  width: calc(100vw - var(--cheng-elements-wid) - var(--cheng-tree-wid) - var(--cheng-set-wid));
}

.pro-cheng .pro-cheng-set {
  width: var(--cheng-set-wid);
}

/********* pro-cheng-header *********/
.pro-cheng-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.pro-cheng-header .el-form-item {
  margin-bottom: 0;
  margin-right: 12px;
}

.pro-cheng-header .el-form-item__label {
  padding-right: 6px;
}

/********* elements *********/
.pro-cheng-elements {
}
.pro-cheng-elements-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 0 8px;
}

.pro-cheng-elements .group {
  grid-column: span 2;
  line-height: 30px;
}

.pro-cheng-elements .item {
  padding: unset;
  min-width: calc(50% - 20px);
  font-size: 12px;
  color: #aaa;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

/********* pro-cheng-screen *********/

.pro-cheng.screen .pro-cheng-ope {
  background-image: linear-gradient(#fafafc 14px, transparent 0), linear-gradient(90deg, transparent 14px, #373739 0);
  background-size: 15px 15px, 15px 15px;
  background-color: #fafafc;
}

.pro-cheng-screen {
  width: 3840px;
  height: 2160px;
}

/*********************************** origin ***********************************/

.cheng {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 9;
}

.cheng .cheng-header {
  height: 46px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cheng .cheng-layout {
  height: calc(100vh - 46px);
  display: flex;
}

.cheng .cheng-layout .cheng-elements {
  width: 280px;
  height: 100%;
  overflow-y: auto;
  padding: 0 10px;
}

.cheng .cheng-layout .cheng-elements .group {
  line-height: 30px;
}

.cheng .cheng-layout .cheng-elements .item {
  margin-left: unset;
  padding: unset;
  min-width: calc(50% - 4px);
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  color: #aaa;
}

.cheng .cheng-layout .cheng-layout-center {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.cheng .cheng-layout .cheng-element-set {
  height: 100%;
  overflow-y: auto;
  width: 280px;
  padding: 0 10px;
}
/******************** 设置项 *************************/
.cheng .cheng-layout .cheng-element-set .set-item {
  margin-top: 4px;
}

.cheng .cheng-layout .cheng-element-set .set-item .title {
  line-height: 20px;
  color: #666;
}

.set-arr-item {
  display: flex;
  align-items: center;
}

/********设置项-数组*********/
.set-arr {
}
.set-arr > * + * {
  margin-top: 10px;
}

.set-arr-item > * + * {
  margin-left: 12px;
}

/******************** modal *************************/
.cheng-modal {
}

.cheng-modal-header {
  display: flex;
  align-items: center;
}

.cheng-modal-header .title {
  font-size: 18px;
}

.cheng-modal-header .actions {
  display: flex;
  margin-left: 16px;
}

.cheng-modal-header .actions > * + * {
  margin-left: 12px;
}
