* {
  padding: 0px;
  margin: 0px;
}

:root {
  --header-hei: 59px;
  --divide-vertical-hei: 10px;
  --pro-page-header-hei: 40px;
}
/********************************** pro-page ***********************************/
.pro-page-header {
  height: var(--pro-page-header-hei);
  display: flex;
  align-items: center;
}

.pro-page-header .pro-page-header-back {
  margin-right: 10px;
}

.pro-page-header .pro-page-header-space {
  flex-grow: 1;
}

.pro-page {
  height: calc(100vh - var(--header-hei) - 2 * var(--divide-vertical-hei));
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.pro-page .pro-loading-dom {
  height: 20vh;
}

.pro-page .pro-page-content {
  flex: 1;
  overflow-y: auto;
}

/********************************** pro-table ***********************************/
.pro-table-operate {
  display: flex;
}

.pro-table-operate .pro-table-operate-item:not(:last-child) {
  margin-right: 10px;
}

/********************************** html ***********************************/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

.markdown {
  color: #000000d9;
  font-size: 14px;
  line-height: 2;
}

.markdown p,
.markdown pre {
  margin: 1em 0;
}

.markdown ul > li {
  margin-left: 20px;
  padding-left: 4px;
  list-style-type: circle;
}

.markdown table {
  width: 100%;
  display: block;
  margin: 2em 0;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 13px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  line-height: 1.5715;
  border: 0;
  -webkit-overflow-scrolling: touch;
  border-spacing: 0;
}

.markdown > table td {
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

.markdown > table th {
  color: #5c6b77;
  font-weight: 500;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #f0f0f0;
}

.markdown table th,
.markdown table td {
  padding: 12px;
  border-color: #f0f0f0;
  border-width: 1px 0;
}

.markdown table th:first-child,
.markdown table td:first-child {
  border-left: 1px solid #f0f0f0;
}

.markdown table th:last-child,
.markdown table td:last-child {
  border-right: 1px solid #f0f0f0;
}

.markdown table th {
  padding-top: 14px;
  border-width: 1px 0 2px 0;
  text-align: left;
}

.markdown table tbody tr {
  transition: all 0.3s;
}

.markdown table tbody tr:hover {
  background: rgba(60, 90, 100, 0.04);
}

.markdown table td:first-child {
  width: 18%;
  color: #595959;
  font-weight: 600;
  white-space: nowrap;
}

.markdown table td:nth-child(2) {
  width: 55%;
}

.markdown table td:nth-child(3) {
  width: 22%;
  color: #c41d7f;
  font-size: 13px;
}

.markdown table td:nth-child(4) {
  width: 15%;
  font-size: 13px;
}

.markdown table td:nth-child(5) {
  width: 8%;
  font-size: 13px;
}

.markdown table td:nth-last-child(3):first-child {
  width: 38%;
}

.markdown table td:nth-last-child(3):first-child ~ td:nth-last-child(2) {
  width: 70%;
}

.markdown hr {
  margin: 12px 0;
}

.hljs {
  line-height: 1.5;
}
