:root {
  --header-hei: 60px;
  --divide-vertical-hei: 10px;
  /*--pro-left-menu-hei: calc(100vh - 30px - 30px);*/
}

html body {
  font-size: 14px;
  background-color: var(--pro-color-bg);
}

blockquote {
  margin: 0 0 1em;
}

/* pro */

.pro-layout {
  --pro-header-hei: 48px;
  --pro-menu-start-hei: 30px;
  --pro-menu-end-hei: 30px;
}

.pro-layout .pro-layout-header {
}

.pro-layout .pro-layout-menus-wrapper {
}

.pro-layout .pro-header-menus-wrapper .el-menu-item{
  line-height: var(--pro-header-hei);
}

/*样式一*/
/*.pro-page {*/
/*  height: calc(var(--pro-secion-hei) - 20px);*/
/*  max-height: calc(var(--pro-secion-hei) - 20px);*/
/*  margin:10px;*/
/*}*/

/*样式二*/
.pro-page {
  --pro-page-hei: calc(var(--pro-secion-hei) - 10px);
  /*margin:10px;*/
}

.pro-page .pro-page-content {
  margin: 0px 10px;
  padding-top: 10px;
}

/********************************** html ***********************************/
.markdown {
  font-size: 14px;
  line-height: 2;
}

.markdown p,
.markdown pre {
  margin: 1em 0;
}

.markdown ul > li {
  margin-left: 20px;
  padding-left: 4px;
  list-style-type: circle;
}

.markdown table {
  width: 100%;
  display: block;
  margin: 2em 0;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 13px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  line-height: 1.5715;
  border: 0;
  -webkit-overflow-scrolling: touch;
  border-spacing: 0;
}

.markdown > table td {
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

.markdown > table th {
  color: #5c6b77;
  font-weight: 500;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #f0f0f0;
}

.markdown table th,
.markdown table td {
  padding: 12px;
  border-color: #f0f0f0;
  border-width: 1px 0;
}

.markdown table th:first-child,
.markdown table td:first-child {
  border-left: 1px solid #f0f0f0;
}

.markdown table th:last-child,
.markdown table td:last-child {
  border-right: 1px solid #f0f0f0;
}

.markdown table th {
  padding-top: 14px;
  border-width: 1px 0 2px 0;
  text-align: left;
}

.markdown table tbody tr {
  transition: all 0.3s;
}

.markdown table tbody tr:hover {
  background: rgba(60, 90, 100, 0.04);
}

.markdown table td:first-child {
  width: 18%;
  color: #595959;
  font-weight: 600;
  white-space: nowrap;
}

.markdown table td:nth-child(2) {
  width: 55%;
}

.markdown table td:nth-child(3) {
  width: 22%;
  color: #c41d7f;
  font-size: 13px;
}

.markdown table td:nth-child(4) {
  width: 15%;
  font-size: 13px;
}

.markdown table td:nth-child(5) {
  width: 8%;
  font-size: 13px;
}

.markdown table td:nth-last-child(3):first-child {
  width: 38%;
}

.markdown table td:nth-last-child(3):first-child ~ td:nth-last-child(2) {
  width: 70%;
}

.markdown hr {
  margin: 12px 0;
}

.hljs {
  line-height: 1.5;
  background-color: #f5f5f5 !important;
  padding: 10px 16px;
}
