/********************************** pro-page ***********************************/
.pro-page-header {
  height: var(--pro-page-header-hei);
  display: flex;
  align-items: center;
}

.pro-page-header .pro-page-header-back {
  margin-right: 10px;
}

.pro-page-header .pro-page-header-space {
  flex-grow: 1;
}

.pro-page {
  height: calc(100vh - var(--header-hei) - var(--divide-vertical-hei));
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pro-page .pro-loading-dom {
  height: 20vh;
}

.pro-page .pro-page-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.pro-page .pro-page-content .page-content {
  width: 1280px;
  margin: 0 auto;
}
