/********************************** pro-layout ***********************************/

.pro-layout {
}

.pro-layout .pro-layout-header {
  height: var(--header-hei);
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.pro-layout .pro-layout-header .pro-layout-menus {
  flex: 1;
}

/*vertical*/
.pro-layout-vertical {
}

/*horizontal*/

.pro-layout-horizontal {
  display: flex;
}

.pro-layout-horizontal .pro-layout-menus {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}

.pro-layout-horizontal .pro-layout-structure {
  flex-grow: 1;
}

/*compose*/

.pro-layout-compose {
}

.pro-layout-compose .pro-layout-structure {
  display: flex;
}

.pro-layout-compose .pro-layout-structure .pro-layout-menus {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
}

.pro-layout-compose .pro-layout-structure .pro-layout-section {
  flex-grow: 1;
}

/********************************** pro-typography ***********************************/
.pro-typography-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/********************************** pro-search-form ***********************************/
.pro-search-form {
}

.pro-search-form .pro-search-form-operate {
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 18px;
}

/********************************** pro-page ***********************************/
.pro-page-header {
  height: var(--pro-page-header-hei);
  display: flex;
  align-items: center;
}

.pro-page-header .pro-page-header-back {
  margin-right: 6px;
}

.pro-page-header .pro-page-header-title {
  font-size: 16px;
  color: black;
  margin-right: 12px;
}

.pro-page-header .pro-page-header-sub-title {
  color: #00000073;
}

.pro-page-header .pro-page-header-space {
  flex-grow: 1;
}

.pro-page {
  height: calc(100vh - var(--header-hei) - var(--divide-vertical-hei));
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pro-page .pro-loading-dom {
  height: 20vh;
}

.pro-page .pro-page-content {
  flex-grow: 1;
  width: 100%;
}

.pro-page .pro-page-content .page-content {
  width: 1280px;
  margin: 0 auto;
}

.pro-page .pro-page-footer {
  height: 60px;
  min-height: 60px;
  border-top: 1px solid red;
}
